.datepicker-dropdown {
    /* z-index: 9999!important; */
    padding: 0.6rem;
}

table thead{
    background: #e9ecef;
}

.table-responsive>.table tr th, .table-responsive>.table tr th a {
    overflow: hidden;
    white-space: break-spaces;
}

.table-custom thead th a{
    color: inherit;
    display: block;
    padding: 0 0.3rem;
}

.table-custom thead th i {
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.table-custom thead th {
    position: relative;
}

.table-custom.min-width-800 {
    min-width: 800px;
}

.table-custom{
    font-size: 14px;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
