
.main-header {
    border-bottom: 1px solid #dee2e6;
    z-index: 1500;
    position: sticky;
    left: 0;
    top: 0;
}

.datepicker-dropdown {
    /* z-index: 9999!important; */
    padding: 0.6rem;
}

table thead{
    background: #e9ecef;
}

.table-responsive>.table tr th, .table-responsive>.table tr th a {
    overflow: hidden;
    white-space: break-spaces;
}

.table-custom thead th a{
    color: inherit;
    display: block;
    padding: 0 0.3rem;
}

.table-custom thead th i {
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.table-custom thead th {
    position: relative;
}

.table-custom.min-width-800 {
    min-width: 800px;
}

.table-custom{
    font-size: 14px;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


.avatar-img{
    width: 32px;
    height: 32px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid #eee;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.default-img{
    width: 100%;
    max-height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

.icheck-bee{
    width: 20px;
    height: 20px;
}

.user-panel img{
    width: 2.8rem;
    height: 2.8rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    -o-object-fit: cover;
    object-fit: cover;
}

.row .card-header{
    background-color: #e9e9e9;
}
/* 
.theia-sidebar{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.theia-sidebar .card{
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    padding: 0 15px;
} */

.min_w_120{
    min-width: 120px;
}

#loader {
    display: none;
    position: fixed;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    z-index: 9999;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f3b318;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-tabs>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 24px;
    color: #333;
}

.nav-tabs>li>a.active{
    background-color: #343a40;
    border-radius: 4px 4px 0 0;
    color: #fff;
}

.has-success{
    color: blue;
}

.has-error{
    color: red;
}