.form-image {
    display: inline-block;
    position: relative;
}

.form-image__view{
    width: 180px;
    height: 180px;
    border: 1px solid #ddd;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 3px;
    display: block;
}


.form-image__file {
    width: 1px;
    height: 1px;
    display: block;
    opacity: 0;
    position: absolute;
    right: 19px;
    border: 0;
}

.form-image__label {
    cursor: pointer;
    -webkit-box-shadow: 0 0 27px 0;
    box-shadow: 0 0 27px 0;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.form-thumbnail__view{
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 3px;
    display: block;
}

.form-logo__view{
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 3px;
    display: block;
}